@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'stream-chat-react/dist/css/v2/index.css';
@import '@stream-io/video-react-sdk/dist/css/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #b4b4b4 rgba(0, 0, 0, 0.01);
}

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* @layer theme {
    .str-chat__theme-custom {
        --str-chat__primary-color: #009688;
        --str-chat__active-primary-color: #004d40;
        --str-chat__surface-color: #f5f5f5;
        --str-chat__secondary-surface-color: #fafafa;
        --str-chat__primary-surface-color: #e0f2f1;
        --str-chat__primary-surface-color-low-emphasis: #edf7f7;
        --str-chat__border-radius-circle: 6px;
    }
} */

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
}

#root {
    display: flex;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.animate-breathing {
    animation: breathing 2s infinite alternate ease-in-out;
}

/* global style for getstream css */
.str-chat {
    width: 100%;
    height: 99vh;
    --str-chat__font-family: 'Quicksand', sans-serif;
}

.str-chat__channel-list {
    width: 350px;
    background-color: #F5F8FD;
    height: 90vh;
}

.str-chat__channel-search-input--wrapper {
    background: #ffffff;
}

.str-chat__channel-list-empty,
.str-chat__channel-search-results-header,
.str-chat__channel-search-container,
.str-chat__channel-search-result-list .str-chat__channel-search-container-empty {
    background: #F5F8FD;
}

.str-chat__channel-search-result-list .str-chat__channel-search-container-searching {
    background: #F5F8FD;
    color: #000000;
}

.str-chat__container {
    width: 100%;
}

.search-result-item:hover {
    background-color: #E0F2FE;
}

.str-chat__header-livestream {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 20px;
    border-bottom: 2px solid rgb(225, 225, 225);
}

.str-chat__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.str-chat__avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.str-chat__header-livestream-left--title {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #333;
}

.call-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.call-button:hover {
    background-color: #e8f3ff;
}

.str-video {
    width: 100%;
}