@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'stream-chat-react/dist/css/v2/index.css';
@import '@stream-io/video-react-sdk/dist/css/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#theme.light {
    --login-start-gradient: #06B6D4;
    --login-end-gradient: #3A82F5;
    --login-right-bg: #ffffff;
    --login-form-container: #ffffff;
    --login-text-color: black;
    --login-input-text-color: black;
    --autologin-bg: #F8FAFC;
    --navbar-bg: #F8FAFC;
    --active-tab-bg: #E5F0FF;
    --tab-hover-bg: #F1F4F9;
    --tab-icon-color: #3d3d3d;
    --page-bg: #F5F8FD;
    --search-bar-bg: white;
    --user-search-result-hover: #E0F2FE;
    --channel-bg: #F5F8FD;
    --channel-border-color: rgb(229 231 235);
    --channel-hover-bg: #E0F2FE;
    --channel-header-bg: white;
    --conversation-bg: #FFFFFF;
    --group-bg: white;
    --group-hover-bg: #EFF6FF;
    --group-text: rgb(55 65 81);
    --chat-bubble-other: #E9EAED;
    --chat-bubble-own: #E0F0FF;
    --file-attach: #FFFFFF;
    --voice-attach-btn: #FFFFFF;
    --second-chat-bg: #FFFFFF;
    --second-chat-hover-bg: #e4e4e4;
    --deleted-chat-bg: #E9EAED;
    --deleted-chat-text: #72767e;
    --settings-box-bg: #FFFFFF;
    --file-input-container: #F2F4F9;
    --file-input-btn: #FFFFFF;
}

#theme.dark {
    --login-start-gradient: #127b96;
    --login-end-gradient: #083daf;
    --login-right-bg: #303841;
    --login-border-color: #262E35;
    --login-form-container: #262E35;
    --login-text-color: white;
    --login-input-text-color: white;
    --autologin-bg: #303841;
    --navbar-bg: #36404A;
    --active-tab-bg: #262C33;
    --tab-hover-bg: #3E4752;
    --tab-icon-color: #A7B2BF;
    --page-bg: #303841;
    --search-bar-bg: #37404A;
    --user-search-result-hover: #3e4752;
    --channel-bg: #303841;
    --channel-border-color: rgb(104, 104, 104);
    --channel-hover-bg: #2C343E;
    --channel-header-bg: #262E35;
    --conversation-bg: #262E35;
    --group-bg: #2a3138;
    --group-hover-bg: #262E35;
    --group-text: white;
    --chat-bubble-other: #4B5561;
    --chat-bubble-own: #37404A;
    --file-attach: #2A333C;
    --voice-attach-btn: #3d4751;
    --second-chat-bg: #37404A;
    --second-chat-hover-bg: #46515f;
    --deleted-chat-bg: #2A333C;
    --deleted-chat-text: #72767e;
    --settings-box-bg: #262E35;
    --file-input-container: #37404A;
    --file-input-btn: #5d6b7b;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #b4b4b4 rgba(0, 0, 0, 0.01);
}

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
}

#root {
    display: flex;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.animate-breathing {
    animation: breathing 2s infinite alternate ease-in-out;
}

/* global style for getstream css */
.str-chat {
    width: 100%;
    height: 99vh;
    --str-chat__font-family: 'Quicksand', sans-serif;
    /* chat text */
    --str-chat__text-color: var(--login-text-color);
    /* other chat bubble */
    --str-chat__message-bubble-background-color: var(--chat-bubble-other);
    /* my chat bubble */
    --str-chat__own-message-bubble-background-color: var(--chat-bubble-own);
    /* file attach */
    --str-chat__file-attachment-background-color: var(--file-attach);
    /* voice attach */
    --str-chat__voice-recording-attachment-widget-background-color: var(--file-attach);
    /* voice attach btn */
    --str-chat__audio-attachment-controls-button-background-color: var(--voice-attach-btn);
    /* reaction */
    --str-chat__secondary-background-color: var(--second-chat-bg);
    /* hover on actions */
    --str-chat__message-actions-box-item-hover-background-color: var(--second-chat-hover-bg);
    /* thread */
    --str-chat__thread-background-color: var(--conversation-bg);
    /* deleted msg */
    --str-chat__secondary-surface-color: var(--deleted-chat-bg);
    /* deleted chat text */
    --str-chat__deleted-message-color: var(--deleted-chat-text);
}

.str-chat__channel-list {
    width: 350px;
    background-color: var(--page-bg);
    height: 90vh;
}

.str-chat__channel-search-input--wrapper {
    background: #ffffff;
}

.str-chat__channel-list-empty,
.str-chat__channel-search-results-header,
.str-chat__channel-search-container,
.str-chat__channel-search-result-list .str-chat__channel-search-container-empty {
    background-color: var(--page-bg);
}

.str-chat__channel-search-result-list .str-chat__channel-search-container-searching {
    background-color: var(--page-bg);
    color: var(--login-text-color);
}

.str-chat__container {
    width: 100%;
}

.str-chat__empty-channel {
    background-color: var(--conversation-bg);
}

.str-chat__channel-search-input--wrapper {
    background-color: var(--search-bar-bg);
}

.search-result-item:hover {
    background-color: var(--user-search-result-hover);
}

.str-chat__header-livestream {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 20px;
    border-bottom: 2px solid var(--channel-border-color);
    background-color: var(--channel-header-bg);
}

.str-chat__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.str-chat__avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.str-chat__header-livestream-left--title {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: var(--login-text-color);
}

.str-chat__message-attachment__voice-recording-widget__title {
    display: none;
}

.str-chat__list,
.str-chat__main-panel,
.str-chat__message-input {
    background-color: var(--conversation-bg);
}

.call-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.call-button:hover {
    background-color: #e8f3ff;
}

.str-video {
    width: 100%;
}

.S9gUrf-YoZ4jf {
    background-color: #06B6D4;
}